.ICEauthority
.NERDTreeBookmarks
.VirtualBox/
.Xauthority
.ackrc
.adobe/
.android/
.bash_logout
.bashrc
.cache/
.compiz-1/
.compiz/
.config/
.dbshell
.dbus/
.dmrc
.emacs
.filezilla/
.fontconfig/
.gconf/
.gem/
.gksu.lock
.gnome2/
.goutputstream*
.gstreamer-0.10/
.gtk-bookmarks
.irb-history
.local/
.macromedia/
.mission-control/
.mozilla/
.nv/
.pki/
.pry_history
.psql_history
.pulse-cookie
.pulse/
.purple/
.rvm/
.ssh/
.swt/
.thumbnails/
.thunderbird/
.vim/vim-addons
.vim/.netrwhist
.vim/swp/*
.vim.old/
.viminfo
.vimrc.old
.vimrc~
.xchat2/
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.emacs.d/elpa
.emacs.d/auto-save-list
